body {
    font-family: helvetica, sans-serif;
    margin: 0 auto; 
    margin-top: 40px; 
    width: 60%;
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;

}

header {
    height: 250px;
    overflow: hidden;
    position: relative;
}

dark-mode {
    background-color: rgb(58, 61, 58);
    color: white;
  }

 